@model PaginatedList<SurfsUp.Models.Surfboard>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="text-center">
        <h1 class="display-4">Surfboards</h1>
        <p><a href="/Surfboards"></a></p>
    </div>
    <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <p>
                    <input type="submit" value="Search" class="btn btn-default" style="float: right;" />
                    Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" style="float: right;" /> |
                    <a asp-action="Index">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-2">
        <div>
            <h5>Price</h5>
            <div class="form-group">
                <label>Max price</label>
                <input class="form-control" />

            </div>
            <div class="form-group">
                <label>Min price</label>
                <input class="form-control" />
            </div>
            <br />
            <select style="width: 100%">
                Sort by Price
                <option value="PDefault">Sort by price</option>
                <option value="Ascending"><a asp-action="Index" asp-route-SortOrder="@ViewData["PriceSortParm"]"></a>Ascending</option>
                <option value="Descending">Descending</option>
            </select>
        </div>
        <div>
            @*<h5>Boardtype</h5>
            <div class="form-group">
            <select style="width: 100%" asp-items="@Html.GetEnumSelectList<Surfboard.BoardTypes>()">
            <option value="SBDefault">Boardtype</option>
            </select>
            @*<span asp-validation-for="BoardType" class="text-danger"></span>
            </div>*@
        </div>

    </div>
    <div class="col-10">
        <div class="text-center">

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <a asp-action="Index" asp-route-SortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Name</a>
                        </th>
                        <th>
                            <a asp-action="Index" asp-route-SortOrder="@ViewData["BoardTypeSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">BoardType</a>
                        </th>
                        @*<th>
                            Length
                        </th>
                        <th>
                            Width
                        </th>
                        <th>
                            Thickness
                        </th>
                        <th>
                            Volume
                        </th>*@
                        <th>
                            <a asp-action="Index" asp-route-SortOrder="@ViewData["PriceSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
                        </th>
                        @*<th>
                            EquipmentTypes
                        </th>*@
                        <th>
                            Image
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.BoardType)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Length)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Width)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Thickness)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Volume)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Price)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.EquipmentTypes)
                            </td>*@
                            <td>
                                @*@Html.DisplayFor(modelItem => item.Image)*@
                                @*<img src="/Images/MahiMahi.png" style="width: 150px"/>*@
                                @if(item.Image != ""){
                                    string s = Url.Content(item.Image);
                                    <img src="@s" style="width: 150px" alt="ImageNotFound"/>
                                }
                                
                            </td>
                            <td>
                                <a href="@Url.Action("Create", "Rentals", new { id = item.ID})">Rent</a> |
                                <a href="@Url.Action("Details", "Surfboards", new { id = item.ID})">Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>